/* Normal 1920 */
body {
	font-family: "Lato", "Serif" !important;
	font-size: 18px;
}

h1 {
	font-size: 40px;
	font-weight: 400;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 24px;
}

ul {
	list-style: none;
}

.fa {
	padding-right: 15px;
	color: #39c6ad;
}

a {
	color: #39c6ad;
}

a:hover {
	color: green;
}

/*p {
	font-size: 18px;
}

ul {
	font-size: 18px;
}*/

.row {
	margin: 0 0 0 0;
}

.hero {
	height: 100vh;		
}

.hero-image-container {
	background-image: url(n5.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    background-repeat: no-repeat;
	height: 80vh;
	font-family: "Lato", "Serif";
}

.hero-p {
	color: #cccccc;
}

.hero-text, .bottom-hero-text  {
	border: 0;
    background: #f4f4f4;
    color: #666;
    outline: 0;
    padding: 12px 10px;
    width: 300px;
}

.hero-button, .bottom-hero-button {
	border: 0;
    background: #e74c3c;
    color: #fff;
    outline: 0;
    padding: 12px 15px;
    cursor: pointer;
}

.hero-image-container-middle {
	position: relative;
	display: table;
	height: 100%;
}

.hero-left-content {
	display: table-cell;
    vertical-align: bottom;
	color: white;
	padding-bottom: 15%;
	padding-left: 10%;
}

.hero-right-content {
	color: white;
	display: table-cell;
    vertical-align: bottom;
	padding-bottom: 5%;
}

.phone1 {
	height: 60vh;
}

.hero-icon-menu {
	height: 20vh;
}

.section-feature1 {
	height: 100%;
	background-color: #f2f2f2;
}

.section-feature2 {
	height: 100%;
	background-color: white;
}

.section-feature3 {
	height: 100%;
	background-color: #f2f2f2;
}

.section-form {
	height: 100%;
	background-color: white;
	padding-bottom: 30px;
}

.section-form2 {
	height: 500px;
	background-color: white;
}

.feature2-phone-container {
	text-align: right;
}

.email-form {
	margin-top: 60px;
	width: 500px;
	height: 150px;
	box-shadow: 3px 3px 10px #888888;
	display: table;
}

.inner-form {
	vertical-align: middle;
	display: table-cell;
}

.footer {
	padding-top: 20px;
	height: 10vh;
	text-align: center;
	background-color: #f2f2f2;
}

.monster-portrait {
	width: 200px;
}

.slick-prev:before,
.slick-next:before {
    color: red;
}

.top-space {
	margin-top: 100px;
}

.phone {
	height: 60vh;
	text-align: center;
}

.monster-portrait {
	height: 13vw;
	width: auto;
}

#slick {
	width: 30vw;
	margin-left: -5%;
}

.slick-prev {
	top: 60%;
}

.slick-next {
	top: 60%;
}


@media (max-height: 685px) and (min-width: 767px) {
	.hero-icon-menu {
		height: 30vh;
	}
}

@media (max-width: 499px) {
	.hero-image-container {
		height: 500px;
		text-align: center;
	}

	.hero-left-content {
		padding-left: 0px;
	}

    .phone1 {
        display: none;
    }

    .hero-icon-menu {
    	height: 450px;
    }

	.top-space {
		margin-top: 10px;
	}

    .section-feature1 {
		height: 1400px;
	}

	.feature1-phone {
		position: absolute;
		margin-top: 140vh;
		margin-left: -70vw;
		height: 60vh;
	}

	.feature2-phone-container {
		text-align: center;
	}

	.section-feature3 h1 {
		font-size: 32px;
	}

	.section-form {
		height: 80vh;
	}

	.email-form {
		margin-top: 60px;
		width: 150px;
		height: 30px;
	}

	.inner-form {
		padding: 15px;
		text-align: center;
	}

	.bottom-hero-text {
		border: 0;
	    background: #f4f4f4;
	    color: #666;
	    outline: 0;
	    padding: 12px 10px;
	    width: 300px;
	}

	.bottom-hero-button {
		border: 0;
	    background: #e74c3c;
	    color: #fff;
	    outline: 0;
	    padding: 12px 15px;
	    cursor: pointer;
	}

	.footer {
		padding-top: 20px;
		height: 10vh;
		text-align: center;
		background-color: #f2f2f2;
	}
} 

/* for 320x480 case */
@media (max-width: 320px) {

	.section-feature1 {
		height: 1350px;
	}

	.feature1-phone {
		margin-top: 1050px;
	}
	.section-form {
		height: 500px;
	}

	.bottom-hero-text {
	    width: 150px;
	}

	.footer {
		height: 100px;
	}
}
/* for 1280x600 case */
@media (max-height: 600px) and (min-width: 1200px) {
	.section-feature1 {
		height: 100%;
	}

	.section-feature2 {
		height: 100%;
	}

	.section-form {
		height: 100%;
	}
}

/* mobile */
@media (min-width: 500px) and (max-width: 767px) {
	.hero-image-container {
		height: 50vh;
	}
    .hero-left-content {
    	padding-top: 10%;
		vertical-align: middle;
    	text-align: center;
    }

    .hero-icon-menu {
    	height: 450px;
    }

    .phone1 {
        display: none;
    }

	.feature1-phone {
		position: absolute;
		margin-top: 60vh;
		margin-left: -60vw;
		height: 40vh;
	}

	.feature2-phone {
		position: absolute;
		margin-top: 63vh;
		margin-left: -60vw;
		height: 40vh;
		margin-top: 50px;
	}

	.top-space {
		margin-top: 50px;
	}


	.navbar {
		display: none;
	}

	.monster-portrait {
		height: 150px;
		width: auto;
	}


}

/* table screen size */
@media (min-width: 768px) and (max-width: 991px){
	.hero-image-container {
		height: 60vh;
	}

	.hero-left-content {
		padding-top: 10%;
		vertical-align: middle;
		text-align: center;
	}

	.hero-right-content {
		display: none;
	}

}

/* normal desktop screen sizes */
@media (min-width: 992px) {

}

/* large device screen size */
@media (min-width: 1280px) {
	h1 {
		font-size: 40px;
	}

}